
.T {
    font-family: 'Courier New', Courier, monospace;
    color: #040404;
}
#T2 {
    text-align: center;
}
.TuwaiqAcademy {
    color:     #000000;
    font-family: 'Courier New', Courier, monospace;
}