
.T {
    font-family: 'Courier New', Courier, monospace;
    color: #f60606;
}
#T2 {
    text-align: center;
}
.TuwaiqAcademy {
    color:     #8800ff;
    font-family: 'Courier New', Courier, monospace;
}